<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.expressus.android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
            android:name=".ExpressusApp"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name_label"
            android:supportsRtl="true"
            android:theme="@style/Main"
            tools:ignore="LockedOrientationActivity">

        <activity
                android:name=".presentation.ExpressusActivity"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 